<form action="/add_event_confirm">
  <ul>
    <li>
      Name of Event - <input type="text" name="name" placeholder="name of event">
    </li>
    <li>
      Date (MM-DD) - <input type="text" name="date" placeholder="MM-DD">
    </li>
    <li>
      Length of event - <input type="number" step="0.25" name="hours" placeholder="hours">
    </li>
    <li>
      Hourly Wage - <input type"number" step="0.05" name="hourly_wage" placeholder="$ per hour">
    </li>
    <li>
      Total Gratuity - <input type="number" name="gratuity" placeholder="gratuity">
    </li>
    <li>
      Was alcohol served? 
        <input type="radio" name="alcohol" value="yes">Yes
        <input type="radio" name="alcohol" value="no">No
    </li>
  </ul>
  <input type="submit">
</form>
      