<h1>
  Add a new employee
</h1>

<form id="add_employee" action="/add_employee_confirm">
  <p>
    Name - <input type="text" name="employee[name]" placeholder="Name">
  </p>
  <p>
    Age - <input type="number" name="employee[age]" placeholder="Age">
  </p>
  <p>
    <input type="submit">
  </p>
</form>
