<h1>
  Modify this employee and click submit
</h1>

<form action="modify_employee_confirm">
    <input type="hidden" name="employee[id]" value="<%= @employee.id %>">
    <p class="center"> 
      Name - <input type="text" name="employee[name]" value="<%= @employee.name %>"> 
    </p>
    <p class="center">
      Age - <input type="number" name="employee[age]" value="<%= @employee.age %>">
    </p>
    <p class="center">
      <input type="submit">
    </p>
</form>