<table id="employees">
  <tr>
    <th>
      Name
    </th>
    <th>
      Able to serve alcohol?
    </th>
  </tr>
  <% Employee.all.each do |employee| %>
    <tr>
      <td>
        <%= employee.name %>
      </td>
        <% if employee.can_serve_booze? %>
          <td>Yes
        <% else %>
          <td id="no_booze">No
        <% end %>
      </td>
    </tr>
  <% end %>
</table>