<!doctype html>
<html>
  <head>
    <title><%= @page_title || "Catering Finance Manager" %></title>
    
    <link rel="stylesheet" href="/global.css">
  </head>
  
  <body>
    
    <%= yield %>
    
    <footer>
        <nav>
          <p>
            <a href="/see_all_employees">
              See all employees
            </a>
          </p>

          <p>
            <a href="/add_employee_form">
              Add a new employee
            </a>
          </p>

          <p>
            <a href="/delete_employee_form">
              Delete an employee
            </a>
          </p>

          <p>
            <a href="/modify_employee_form1">
              Modify an employee
            </a>
          </p>

          <p>
            <a href="/see_all_events">
              See all events
            </a>
          </p>

          <p>
            <a href="/add_event">
              Add an event
            </a>
          </p>

          <p>
            <a href="/delete_event_form">
              Delete an event
            </a>
          </p>

          <p>
            <a href="/modify_event_form1">
              Modify an event
            </a>
          </p>

          <p>
            <a href="/see_all_distributions_and_wages">
              See all distributions and wages
            </a>
          </p>
        </nav>
      Never trust a skinny cook.
    </footer>
  </body>
</html>