html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

footer {
  font-size: smaller;
}

header nav a {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  text-align: center;
  background-color: aquamarine;
  display: block;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
h3.confirm {
  font-size: large;
  font-style: italic;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#events {
  width: 100%;
}

#events tr th {
  border-bottom: 2px black solid;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: aliceblue;
}

#events tr td {
  text-align: center;
  border-bottom: 1px black dotted;
  margin: 0;
}

#employees {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#employees tr th {
  border-bottom: 2px black solid;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: aliceblue;
}

#employees tr td {
  text-align: center;
  border-bottom: 1px black dotted;
  margin: 0;
}

#no_booze {
  background-color: pink;
}

#select_employee {
  font-size: large;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#select_employee tr {
  background-color: aliceblue;
}

p.center {
  text-align: center;
  font-size: large;
  margin-top: 15px;
  margin-bottom: 15px
}

ul.center {
 text-align: center; 
 list-style-type: none;
 font-size: large;
 padding: 0;
}

li.center{
  padding-top: 5px;
  padding-bottom: 5px;
}

#center ul {
  text-align: center; 
  list-style-type: none;
  font-size: large;
  padding: 0;
}

#center ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 500px) {
  div.column_nav {
    width: 33%;
    float: left;
  }
  
  header nav a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  div.three_column_break {
    clear: both;
  }
  
  div.three_columns {
    background: aquamarine;
  }
}

@media (min-width: 700px) {
  div.two_columns {
    float: left;
    width: 50%;
  }
}


img#hambuger {
  position: absolute;
  top: 26%;
  right: 2%;
}

header h3 {
  text-align: center;
  display: inline-block;
  width: 70%;
  padding: 5px;
}

div#mobile_header {
  background-color: brown;
  position: relative;
}

.hide_dis_nav {
  visibility: hidden;
  position: absolute;
}