html {
  box-sizing: border-box;
  width: 450px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 450px;
}

footer {
  font-size: smaller;
}

footer nav p {
  width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
    background-color: aquamarine
}

h1 {
  text-align: center;
}

h3.confirm {
  font-size: large;
  font-style: italic;
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}

#events {
  width: 450px;
}

#events tr th {
  border-bottom: 2px black solid;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: aliceblue;
}

#events tr td {
  text-align: center;
  border-bottom: 1px black dotted;
  margin: 0;
}

#employees {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#employees tr th {
  border-bottom: 2px black solid;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: aliceblue;
}

#employees tr td {
  text-align: center;
  border-bottom: 1px black dotted;
  margin: 0;
}

#no_booze {
  background-color: pink;
}

#select_employee {
  font-size: large;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#select_employee tr {
  background-color: aliceblue;
}

p.center {
  text-align: center;
  font-size: large;
  margin-top: 15px;
  margin-bottom: 15px
}

ul.center {
 text-align: center; 
 list-style-type: none;
 font-size: large;
 padding: 0;
}

li.center{
  padding-top: 5px;
  padding-bottom: 5px;
}

#center ul {
  text-align: center; 
  list-style-type: none;
  font-size: large;
  padding: 0;
}

#center ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}