<h1>
  Select a shift to distribute employees to
</h1>

<form action="/distribute_employees_to_event_form2">
  <select name="event_id">
    <option>
      Select an event to add employees to
    </option>
    <% Event.all.each do |x| %>
      <option value="<%= x.id %>">
        <%= x.name %> <br> <%= x.date %>
      </option>
    <% end %>
  </select>
  <br>
  <br>
  <input type="submit">
</form>