<h1>
  Distributions
</h1>


<% join = DB.execute("SELECT employees.name, events.name AS event_name, events.date, distributions.manager FROM distributions INNER JOIN employees ON distributions.employee_id = employees.id INNER JOIN events ON distributions.event_id = events.id") %>
<table>
  <tr>
    <td>
      Employee
    </td>
    <td>
      Event
    </td>
    <td>
      Date
    </td>
    <td>
      Manager?
    </td>
  </tr>
  <% join.each do |x| %>
    <tr>
      <td>
        <%= x["name"] %>
      </td>
      <td>
        <%= x["event_name"] %>
      </td>
      <td>
        <%= x["date"] %>
      </td>
      <td>
        <%= x["manager"] %>
      </td>
    </tr>
  <% end %>
</table>

<a href="/home"> Return to the main menu </a>