<h1>
  What would you like to do?
</h1>

<a href="/see_all_employees">
  See all employees
</a>
<br>

<a href="/add_employee_form">
  Add a new employee
</a>
<br>

<a href="/delete_employee_form">
  Delete an employee
</a>
<br>

<a href="modify_employee_form">
  Modify an employee
</a>
